configuration {
    terminal:           "alacritty";
    click-to-exit:      true;
    me-accept-entry:    "MousePrimary";
    me-select-entry:    "";
    kb-cancel:          "Escape,MouseSecondary,super+d";
}

@theme "~/.config/rofi/theme.rasi"
